

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background: #fff;
    background-image: url('../image/wallpaperflare.com_wallpaper.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    color: black;
    font-family: 'Ubuntu', sans-serif;
    
   
}



.sub_container {
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    
   
    
   
    
}

.div_name {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
 width: 50%;
 background-color: rgba(255, 235, 205, 0.27);
}
.sub_container h2 {
    font-size: 120px;
    color : rgb(255, 255, 255);
    line-height: 115px;
    padding: 0;
    margin: 0;
}

.sub_container h3 {
    font-size: 40px;
    font-weight: 100;
    color : rgb(247, 185, 71);
    line-height: 40px;
    padding: 0;
    margin: 0;
}

.sub_container h5 {
  font-size: 35px;
   padding: 0;
    margin: 0;
    line-height: 40px;
    color : rgb(255, 255, 255);
}
.img {
    width: 600px;
    height: 600px;
}

.text {
    position: absolute;
    top: 6%;
    left: 58.5%;
    font-size:38px;
    font-family:helvetica;
    font-weight:bold;
  
    text-transform:uppercase;
    display: inline;    
    
  }
  .parpadea {

   
    animation-name: parpadeo;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  
    -webkit-animation-name:parpadeo;
    -webkit-animation-duration: 1s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
  }

  @-moz-keyframes parpadeo{  
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
  }
  
  @-webkit-keyframes parpadeo {  
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
     100% { opacity: 1.0; }
  }
  
  @keyframes parpadeo {  
    0% { opacity: 1.0; }
     50% { opacity: 0.0; }
    100% { opacity: 1.0; }
  }
@media screen and (max-width: 960px) {
    .container {
        
        font-size: 34px;
    }
   
    .sub_container {
     
     
      width: 90%;
      height: 50%;
       
        justify-content: center;
    }
   .img {
    width: 320px;
    height: 320px;
   }

   .sub_container h2 {
    font-size: 50px;
    line-height: normal;
     }

.sub_container h3 {
    font-size: 25px;
    line-height: normal;

}

.sub_container h5 {
  font-size: 20px;
  line-height: normal;

}
.text {
    position: absolute;
    top: 20%;
    left: 52%;
    font-size:38px;
      
    
  }

}